.header {
    background: #000;
}

.header__contents {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1540px;
    padding: 10px 20px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1540px;
    margin: 0 auto;
    box-sizing: border-box;
}


@media screen and (max-width: 850px) {
    .header__inner {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
    }

    .header__contents {
        margin-top: 10px;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .header__logo {
        max-width: 150px;
        height: auto;
    }

    .header__center {
        display: none;
    }

    .header__button--black,
    .header__button--white {
        padding: 6px 12px;
        font-size: 14px;
    }
}

@media screen and (min-width: 851px) and (max-width: 1399px) {
    .header__inner {
        padding: 10px 20px;
    }

    .header_content-input {
        width: 400px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header__inner {
        max-width: 1540px;
    }

    .wrapper {
        max-width: 1540px;
    }
}