.header {
    background: #000;
}

.header__contents {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1540px;
    padding: 10px 20px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1540px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 850px) {
    .header__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__contents {
        margin-top: 10px;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }

    .header__logo {
        max-width: 100%;
        height: auto;
    }
}