.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1540px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    appearance: none;
}

.form__button {
    margin-top: 90px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #FF5555;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}

.login__button-submit {
    color: #0073CC;
    text-decoration: none;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .register-form__content {
        max-width: 800px;
        padding: 50px 20px;
    }

    .form {
        width: 60%;
    }

    .form__input--text input {
        font-size: 16px;
    }

    .form__button-submit {
        font-size: 18px;
        padding: 12px;
    }
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .register-form__content {
        padding: 20px;
        max-width: 700px;
    }

    .form {
        width: 80%;
        text-align: center;
    }

    .form__group {
        margin-bottom: 20px;
    }

    .form__input--text input {
        height: 45px;
        font-size: 14px;
    }

    .form__button {
        margin-top: 50px;
    }

    .form__button-submit {
        font-size: 16px;
        padding: 10px;
    }

    .login__button-submit {
        font-size: 13px;
    }
}